@media ( max-width: 991px  )
	.header
		justify-content: space-around
		&__official
			display: none
	.promo
		&__wrapper
			align-items: center
		&__header
			font-size: 38px
		&__subheader
			font-size: 21px
		&__link
			display: none

@media ( max-width: 767px  )   
	.promo
		&__header
			font-size: 35px
		&__subheader
			font-size: 19px
	.advantages
		&__title
			font-size: 27px
		&__wrapper
			flex-wrap: wrap
		&__item
			width: 300px
			margin-bottom: 40px


@media ( max-width: 575px  )
	.header
		&__logo
			width: 173px
		&__phone
			font-size: 11px
	.button
		width: 99px
		height: 32px
		font-size: 10px
		&_main
			margin-top: 30px
			width: 200px
			height: 60px
			font-size: 12px
	.promo
		&__header
			font-size: 22px
		&__subheader
			font-size: 13px
		&__icons
			margin-top: 30px
			flex-wrap: wrap
			width: 300px
		&__icon
			margin-bottom: 40px
	.advantages
		&__title
			font-size: 20px
		&__item
			width: 270px